<div class="controles">
  <app-knob  [color]="color" [value]="50" [title]="app"></app-knob>
  <!-- <app-knob  [color]="color" [value]="14" title="atest"></app-knob>
  <app-knob  [color]="color" [value]="45" title="asdfasfd"></app-knob>
  <app-knob  [color]="color" [value]="10" [title]="app"></app-knob>
  <app-knob  [color]="color" [value]="14" title="atest"></app-knob>
  <app-knob  [color]="color" [value]="45" title="asdfasfd"></app-knob>
  <app-knob  [color]="color" [value]="10" [title]="app"></app-knob>
  <app-knob  [color]="color" [value]="14" title="atest"></app-knob>
  <app-knob  [color]="color" [value]="45" title="asdfasfd"></app-knob>
  <app-knob  [color]="color" [value]="10" [title]="app"></app-knob>
  <app-knob  [color]="color" [value]="14" title="atest"></app-knob>
  <app-knob  [color]="color" [value]="45" title="asdfasfd"></app-knob> -->
</div>
